body {
	background-color: #222; 
	color: #eee;
}

h1, h3 {
	text-align: center;
	font-family: impact;
	font-weight: 300;
	letter-spacing: 2px;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.bin {
	border: 2px solid #eee;
	border-radius: 4px;
	padding: 3px;
	margin-top: 10px;
}
